In [ ]:
import pandas as pd
notas = pd.Series([85, 90, 78], index=["Matemáticas", "Historia", "Física"])
print(notas)

Matemáticas    85
Historia       90
Física         78
dtype: int64

In [ ]:
datos = {"Nombre": ["Ana", "Luis", "María"], "Edad": [18, 22, 20], "Grado": ["Ingeniería", "Medicina", "Arquitectura"]}
df = pd.DataFrame(datos)
print(df)

  Nombre  Edad         Grado
0    Ana    18    Ingeniería
1   Luis    22      Medicina
2  María    20  Arquitectura

In [ ]:
print(notas["Historia"])

90

In [ ]:
datos_faltantes = pd.DataFrame({
    'Nombre': ['Carlos', 'Laura', 'Juan'],
    'Edad': [25, None, 30]
})
print(datos_faltantes)

   Nombre  Edad
0  Carlos  25.0
1   Laura   NaN
2    Juan  30.0

In [ ]:
datos_faltantes['Edad'] = datos_faltantes['Edad'].fillna(datos_faltantes['Edad'].mean())
print(datos_faltantes)

   Nombre  Edad
0  Carlos  25.0
1   Laura  27.5
2    Juan  30.0

In [ ]:
datos_faltantes = pd.DataFrame({
    'Nombre': ['Carlos', 'Laura', 'Juan'],
    'Edad': [25, None, 30]
})
print(datos_faltantes)

   Nombre  Edad
0  Carlos  25.0
1   Laura   NaN
2    Juan  30.0

In [ ]:
datos_sin_NaN = datos_faltantes.dropna()
print(datos_sin_NaN)

   Nombre  Edad
0  Carlos  25.0
2    Juan  30.0

In [ ]:
datos_faltantes = datos_faltantes.rename(columns={"Nombre": "Estudiante", "Edad": "Edades"})
print(datos_faltantes)

  Estudiante  Edades
0     Carlos    25.0
1      Laura     NaN
2       Juan    30.0

In [ ]:
notas_filtradas = notas[notas > 80]
print(notas_filtradas)

Matemáticas    85
Historia       90
dtype: int64

In [ ]:
notas_dobladas = notas.apply(lambda x: x * 2)
print(notas_dobladas)

Matemáticas    170
Historia       180
Física         156
dtype: int64

In [ ]:
print(notas.mean())

84.33333333333333

In [ ]:
mayores_de_20 = df[df["Edad"] > 20]
print(mayores_de_20)

  Nombre  Edad     Grado
1   Luis    22  Medicina

In [ ]:
df_ordenado = df.sort_values(by="Edad", ascending=False)
print(df_ordenado)

  Nombre  Edad         Grado
1   Luis    22      Medicina
2  María    20  Arquitectura
0    Ana    18    Ingeniería

In [ ]:
df["Promedio"] = [90, 85, 88]
print(df)

  Nombre  Edad         Grado  Promedio
0    Ana    18    Ingeniería        90
1   Luis    22      Medicina        85
2  María    20  Arquitectura        88

In [ ]:
data = {'Fecha': ['2025-01-01', '2025-02-15', '2025-03-20']}
df = pd.DataFrame(data)
print(df)

        Fecha
0  2025-01-01
1  2025-02-15
2  2025-03-20

In [ ]:
df['Fecha'] = pd.to_datetime(df['Fecha'])
print(df)

       Fecha
0 2025-01-01
1 2025-02-15
2 2025-03-20

In [ ]:
data = {'Producto': ['Manzana', 'Pera', 'Plátano'],
        'Precio': [1.2, 0.8, 1.1]}
df = pd.DataFrame(data)
print(df.describe())

         Precio
count  3.000000
mean   1.033333
std    0.208167
min    0.800000
25%    0.950000
50%    1.100000
75%    1.150000
max    1.200000

In [ ]:
print(df.shape)

(3, 2)

In [ ]:
data = {'Categoría': ['Fruta', 'Fruta', 'Verdura', 'Verdura']}
df = pd.DataFrame(data)
print(df['Categoría'].nunique())

2

In [ ]:
datos = pd.read_csv('/content/data/supermarket_sales.csv')
print(datos.head())

    Invoice ID Branch       City Customer type  Gender  \
0  750-67-8428      A     Yangon        Member  Female
1  226-31-3081      C  Naypyitaw        Normal  Female
2  631-41-3108      A     Yangon        Normal    Male
3  123-19-1176      A     Yangon        Member    Male
4  373-73-7910      A     Yangon        Normal    Male

             Product line  Unit price  Quantity   Tax 5%     Total       Date  \
0       Health and beauty       74.69         7  26.1415  548.9715   1/5/2019
1  Electronic accessories       15.28         5   3.8200   80.2200   3/8/2019
2      Home and lifestyle       46.33         7  16.2155  340.5255   3/3/2019
3       Health and beauty       58.22         8  23.2880  489.0480  1/27/2019
4       Sports and travel       86.31         7  30.2085  634.3785   2/8/2019

    Time      Payment    cogs  gross margin percentage  gross income  Rating
0  13:08      Ewallet  522.83                 4.761905       26.1415     9.1
1  10:29         Cash   76.40                 4.761905        3.8200     9.6
2  13:23  Credit card  324.31                 4.761905       16.2155     7.4
3  20:33      Ewallet  465.76                 4.761905       23.2880     8.4
4  10:37      Ewallet  604.17                 4.761905       30.2085     5.3

In [ ]:
datos.describe()

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1.000000e+03,1000.000000,1000.00000
mean,55.672130,5.510000,15.379369,322.966749,307.58738,4.761905e+00,15.379369,6.97270
std,26.494628,2.923431,11.708825,245.885335,234.17651,6.131498e-14,11.708825,1.71858
min,10.080000,1.000000,0.508500,10.678500,10.17000,4.761905e+00,0.508500,4.00000
25%,32.875000,3.000000,5.924875,124.422375,118.49750,4.761905e+00,5.924875,5.50000
50%,55.230000,5.000000,12.088000,253.848000,241.76000,4.761905e+00,12.088000,7.00000
75%,77.935000,8.000000,22.445250,471.350250,448.90500,4.761905e+00,22.445250,8.50000
max,99.960000,10.000000,49.650000,1042.650000,993.00000,4.761905e+00,49.650000,10.00000

In [ ]:
datos.to_excel("/content/data/archivo.xlsx", index=False)

In [ ]:
ventas = {"Producto": ["A", "B", "A", "B"], "Precio": [100, 150, 120, 160]}
df_ventas = pd.DataFrame(ventas)
agrupado = df_ventas.groupby("Producto").mean()
print(agrupado)

          Precio
Producto
A          110.0
B          155.0

In [ ]:
df1 = pd.DataFrame({"ID": [1, 2], "Nombre": ["Ana", "Luis"]})
print(df1)

   ID Nombre
0   1    Ana
1   2   Luis

In [ ]:
df2 = pd.DataFrame({"ID": [1, 2], "Nota": [90, 85]})
print(df2)

   ID  Nota
0   1    90
1   2    85

In [ ]:
df_combinado = pd.merge(df1, df2, on="ID")
print(df_combinado)

   ID Nombre  Nota
0   1    Ana    90
1   2   Luis    85